$fontSize: 37.5;
$animationTime: .2s;
$animationType: linear;

// 1rem = fontSize px
// 1px = (1 / fontSize)rem
@function px2rem($px) {
  @return ($px / $fontSize) + rem;
}

@mixin center () {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin left () {
  display: flex;
  justify-content: center;
  align-items: start;
}

@mixin right () {
  display: flex;
  justify-content: center;
  align-items: end;
}

@mixin ellipsis () {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin ellipsis2 ($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
}

.icon {
  font-size: px2rem(16);
  color: #666666;
}

.title {
  font-size: px2rem(16);
  color: #666666;
  font-weight: bold;
}

@mixin scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin columnLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
